Repository tale/rootbeer: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, oxfmt

fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy --workspace -- -D warnings

oxfmt:
  run: pnpm oxfmt --write {staged_files}

Add Dockerfile
  Dockerfile
Due: none

feat(nix): add `flake.nix` with `flake-parts` and `crane` build setup
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

feat(README): mention `Nix` in `## Building`
  README.md
Due: none

feat(ci): add flake.lock auto-update workflow and Nix docs
  .github/workflows/update-flake-lock.yml
  docs/contributing/setup.md
Due: none

chore(ci): bump `actions/checkout` to `v6`
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/update-flake-lock.yml
Due: none

chore(nix): update `flake.lock`
  flake.lock
Due: none

feat: support an exec command
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/plan.rs
Due: fmt, clippy

chore: add forgotten lua core docs
  lua/rootbeer/core.lua
Due: none

feat: add a toml and json serializer
  Cargo.lock
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/lua/serializer.rs
Due: fmt, clippy

feat: add a very vibecoded init command
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/main.rs
Due: fmt, clippy

docs: update conditional config doc to use rb.host
  docs/guide/conditional-config.md
Due: none

feat: add file checking operations
  crates/rootbeer-core/src/lua/fs.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

feat: add a caller to the 1password cli
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/secret.rs
  crates/rootbeer-core/src/lua/vm.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

feat: add ssh, brew, and update zsh module
  .vitepress/config.ts
  crates/rootbeer-core/src/lua/vm.rs
  docs/api/brew.md
  docs/api/git.md
  docs/api/ssh.md
  docs/api/zsh.md
  lua/rootbeer/brew.lua
  lua/rootbeer/core.lua
  lua/rootbeer/git.lua
  lua/rootbeer/ssh.lua
  lua/rootbeer/zsh.lua
Due: fmt, clippy, oxfmt

ci: publish nightly build artifacts
  .github/workflows/build.yml
Due: none

chore: add funding link
  .github/FUNDING.yml
Due: none

ci: maybe fix c++?
  .github/workflows/build.yml
Due: none

feat: add an install script
  docs/public/rb.sh
  scripts/install.sh
Due: none

chore: print an apply hint after rb init
  crates/rootbeer-cli/src/main.rs
Due: fmt, clippy

feat: add support for profiles/keyed configs
  .vitepress/config.ts
  AGENTS.md
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/vm.rs
  docs/api/core.md
  docs/api/profile.md
  docs/guide/conditional-config.md
  lua/rootbeer/core.lua
  lua/rootbeer/profile.lua
Due: fmt, clippy, oxfmt

feat(cli): add cd and edit commands for convenience
  crates/rootbeer-cli/src/cd.rs
  crates/rootbeer-cli/src/edit.rs
  crates/rootbeer-cli/src/main.rs
Due: fmt, clippy

docs: make the docs more readable
  .vitepress/config.ts
  AGENTS.md
  crates/rootbeer-core/src/lua/vm.rs
  docs/api/brew.md
  docs/api/git.md
  docs/api/profile.md
  docs/api/ssh.md
  docs/api/zsh.md
  docs/contributing/architecture.md
  docs/guide/conditional-config.md
  docs/guide/core-concepts.md
  docs/guide/getting-started.md
  docs/guide/multi-device.md
  docs/modules/brew.md
  docs/modules/git.md
  docs/modules/ssh.md
  docs/modules/zsh.md
  docs/reference/core.md
  docs/reference/host.md
  lua/rootbeer/core.lua
Due: fmt, clippy, oxfmt

docs: better changes
  docs/guide/getting-started.md
  docs/index.md
Due: none

feat(core): support bundling lua modules into the binary
  .vitepress/config.ts
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/build.rs
  crates/rootbeer-core/src/lua/require.rs
  crates/rootbeer-core/src/lua/vm.rs
  docs/contributing/architecture.md
  docs/contributing/packaging.md
Due: fmt, clippy, oxfmt

fix(core): calculate embedded lua files in build.rs
  crates/rootbeer-core/build.rs
  crates/rootbeer-core/src/lua/require.rs
Due: fmt, clippy

chore: make lefthook hooks better
  docs/contributing/setup.md
  lefthook.yml
Due: none

chore(cli): add force option to re-init
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/main.rs
Due: fmt, clippy

feat(core): rewrite luau import paths to normal lua for tooling purposes
  AGENTS.md
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/lsp.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/require.rs
  crates/rootbeer-core/src/lua/vm.rs
  docs/contributing/architecture.md
  docs/contributing/packaging.md
  docs/guide/core-concepts.md
  docs/guide/getting-started.md
  docs/guide/multi-device.md
  docs/modules/brew.md
  docs/modules/git.md
  docs/modules/ssh.md
  docs/modules/zsh.md
  docs/reference/core.md
  docs/reference/host.md
  lua/rootbeer/core.lua
  lua/rootbeer/profile.lua
  test/rootbeer.lua
Due: fmt, clippy

feat(lua): add a mac high level library
  .vitepress/config.ts
  docs/modules/mac.md
  lua/rootbeer/mac.lua
Due: oxfmt

chore(docs): document lsp/completion features
  docs/guide/getting-started.md
Due: none

feat(lua): add better profile-based branching options
  docs/guide/multi-device.md
  lua/rootbeer/profile.lua
Due: none

feat(cli): report apply status and allow force overwriting symlinks
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lib.rs
Due: fmt, clippy

feat(core): support system symlinks
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/vm.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

feat(lua): support autoload plugins and precmd for zsh
  lua/rootbeer/zsh.lua
Due: none

feat(core): run rb.exec in the source dir instead of the caller
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/plan.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

docs: update readme
  README.md
  crates/rootbeer-cli/src/init.rs
Due: fmt, clippy

feat(cli): redesign commands + move config dirs to core
  crates/rootbeer-cli/src/cd.rs
  crates/rootbeer-cli/src/edit.rs
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-core/src/lib.rs
Due: fmt, clippy

feat(cli): remove lsp command and roll into init
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/lsp.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/typegen.rs
  lua/rootbeer/init.lua
Due: fmt, clippy

ci: fix missing flake.lock pr perms
  .github/workflows/update-flake-lock.yml
Due: none

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  oxfmt: any of: *.{js,ts}
