Repository tale/rootbeer: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, oxfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    oxfmt:
      glob: "*.{js,ts}"
      run: pnpm oxfmt --write {staged_files}

pre-push:
  commands:
    test:
      run: cargo test --workspace

feat(core): create pipeline manager for rb execution
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/pipeline.rs
Due: fmt, clippy

chore(nix): update `flake.lock`
  flake.lock
Due: none

feat: switch to builder + event driven invokee
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/require.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/pipeline.rs
  lua/rootbeer/brew.lua
Due: fmt, clippy

chore: clippy nit
  crates/rootbeer-core/src/lua/require.rs
Due: fmt, clippy

fix: use regular lua syntax at all times
  AGENTS.md
  crates/rootbeer-core/src/lua/require.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/pipeline.rs
  lua/rootbeer/brew.lua
  lua/rootbeer/git.lua
  lua/rootbeer/mac.lua
  lua/rootbeer/profile.lua
  lua/rootbeer/ssh.lua
  lua/rootbeer/zsh.lua
Due: fmt, clippy

feat: pretty print some errors
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/pipeline.rs
  lua/rootbeer/profile.lua
Due: fmt, clippy

feat: support setting the remote after apply
  README.md
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/init.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/remote.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/plan.rs
  docs/guide/core-concepts.md
  docs/guide/getting-started.md
  lua/rootbeer/core.lua
Due: fmt, clippy

ci: upload artifact to docs page
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  docs/guide/getting-started.md
  scripts/install.sh
  wrangler.toml
Due: none

feat: add update command
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/update.rs
Due: fmt, clippy

fix: keep the source alias in the embedded requirer
  crates/rootbeer-core/src/lua/require.rs
  crates/rootbeer-core/src/lua/vm.rs
Due: fmt, clippy

feat: add build timestamp for the nightlies
  crates/rootbeer-cli/build.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/update.rs
Due: fmt, clippy

feat: post version stamp on update
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/update.rs
Due: fmt, clippy

fix: the ai committed insanity
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/build.rs
  crates/rootbeer-cli/src/update.rs
Due: fmt, clippy

fix: use the luau normalizer on both requirers and add tests
  crates/rootbeer-core/src/lua/require.rs
Due: fmt, clippy

docs: the most AI generated UI design possible
  .vitepress/config.ts
  .vitepress/theme/custom.css
  .vitepress/theme/index.ts
  docs/guide/core-concepts.md
  docs/guide/multi-device.md
  docs/index.md
  docs/modules/brew.md
  docs/modules/git.md
  docs/modules/ssh.md
  docs/modules/zsh.md
  docs/reference/core.md
  docs/reference/host.md
  lua/rootbeer/mac.lua
  scripts/lua2md.ts
Due: oxfmt

chore: update to vite 8
  package.json
  pnpm-lock.yaml
Due: none

feat(lua): add amp code and claude code simple config
  .vitepress/config.ts
  docs/modules/amp.md
  docs/modules/claude-code.md
  lua/rootbeer/amp.lua
  lua/rootbeer/claude_code.lua
Due: oxfmt

feat: turn serializers into writers like nix
  .vitepress/config.ts
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/serializer.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/lua/writer.rs
  docs/contributing/architecture.md
  docs/modules/ini.md
  docs/modules/json.md
  docs/modules/toml.md
  lua/rootbeer/amp.lua
  lua/rootbeer/claude_code.lua
  lua/rootbeer/core.lua
  lua/rootbeer/git.lua
  lua/rootbeer/ini.lua
  lua/rootbeer/json.lua
  lua/rootbeer/toml.lua
  test/rootbeer.lua
Due: fmt, clippy, oxfmt

chore: let the clanker make some tests
  .vitepress/config.ts
  Cargo.lock
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/test_support.rs
  crates/rootbeer-core/src/lua/tests/brew.rs
  crates/rootbeer-core/src/lua/tests/fs.rs
  crates/rootbeer-core/src/lua/tests/git.rs
  crates/rootbeer-core/src/lua/tests/mod.rs
  crates/rootbeer-core/src/lua/tests/profile.rs
  crates/rootbeer-core/src/lua/tests/vm.rs
  crates/rootbeer-core/src/lua/tests/writer.rs
  crates/rootbeer-core/src/lua/tests/zsh.rs
  crates/rootbeer-core/src/pipeline.rs
  docs/contributing/testing.md
  lefthook.yml
  test/dotfiles/gitconfig
  test/rootbeer.lua
Due: fmt, clippy, oxfmt

feat: add proper data format and script writers
  .gitignore
  .vitepress/config.ts
  Cargo.lock
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/tests/writer.rs
  crates/rootbeer-core/src/lua/writer.rs
  crates/rootbeer-core/src/lua/writer/codec.rs
  crates/rootbeer-core/src/lua/writer/json.rs
  crates/rootbeer-core/src/lua/writer/mod.rs
  crates/rootbeer-core/src/lua/writer/plist.rs
  crates/rootbeer-core/src/lua/writer/scripts.rs
  crates/rootbeer-core/src/lua/writer/toml.rs
  crates/rootbeer-core/src/lua/writer/yaml.rs
  crates/rootbeer-core/src/plan.rs
  docs/contributing/architecture.md
  docs/formats/index.md
  docs/formats/json.md
  docs/formats/plist.md
  docs/formats/toml.md
  docs/formats/yaml.md
  docs/modules/ini.md
  docs/modules/json.md
  docs/modules/toml.md
  docs/scripts/index.md
  lua/rootbeer/core.lua
  lua/rootbeer/git.lua
  lua/rootbeer/ini.lua
  lua/rootbeer/plist.lua
  lua/rootbeer/scripts.lua
  lua/rootbeer/yaml.lua
Due: fmt, clippy, oxfmt

feat: add copy_file
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/tests/fs.rs
  crates/rootbeer-core/src/plan.rs
  docs/contributing/architecture.md
  lua/rootbeer/core.lua
Due: fmt, clippy

feat: refactor profiles to be pluggable
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/ctx.rs
  crates/rootbeer-core/src/lua/fs.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/module.rs
  crates/rootbeer-core/src/lua/secret.rs
  crates/rootbeer-core/src/lua/sys.rs
  crates/rootbeer-core/src/lua/test_support.rs
  crates/rootbeer-core/src/lua/tests/fs.rs
  crates/rootbeer-core/src/lua/tests/profile.rs
  crates/rootbeer-core/src/lua/tests/writer.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/lua/writer/codec.rs
  crates/rootbeer-core/src/lua/writer/mod.rs
  crates/rootbeer-core/src/lua/writer/scripts.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-core/src/profile/error.rs
  crates/rootbeer-core/src/profile/lua.rs
  crates/rootbeer-core/src/profile/mod.rs
  crates/rootbeer-core/src/profile/name.rs
  crates/rootbeer-core/src/profile/spec.rs
  lua/rootbeer/core.lua
  lua/rootbeer/profile.lua
Due: fmt, clippy

feat: simplify profile resolution
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/lua/tests/profile.rs
  crates/rootbeer-core/src/profile/lua.rs
  crates/rootbeer-core/src/profile/mod.rs
  crates/rootbeer-core/src/profile/spec.rs
  docs/guide/profiles.md
  lua/rootbeer/profile.lua
Due: fmt, clippy

docs: format and start rewording docs
  .stylua.toml
  .vitepress/config.ts
  .vitepress/nav.ts
  .vitepress/sections.ts
  docs/contributing/setup.md
  docs/guide/core-concepts.md
  docs/guide/getting-started.md
  docs/guide/multi-device.md
  docs/guide/what-is-rootbeer.md
  docs/index.md
  docs/modules/brew.md
  docs/modules/git.md
  docs/modules/index.md
  docs/modules/zsh.md
  docs/reference/core.md
  docs/reference/index.md
  lefthook.yml
  lua/rootbeer/claude_code.lua
  lua/rootbeer/core.lua
  lua/rootbeer/git.lua
  lua/rootbeer/mac.lua
  lua/rootbeer/zsh.lua
  mise.toml
  rootbeer.yml
  scripts/lua2md.ts
  selene.toml
Due: oxfmt

chore: update readme
  README.md
Due: none

docs: humanize the module refs
  docs/modules/amp.md
  docs/modules/brew.md
  docs/modules/claude-code.md
  docs/modules/git.md
  docs/modules/mac.md
  docs/modules/ssh.md
  docs/modules/zsh.md
Due: none

docs: cleanup the homepage
  docs/index.md
Due: none

feat: implement generic content addressed hashing store
  Cargo.lock
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/store.rs
Due: fmt, clippy

feat: implement package realization primitives
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/realize.rs
  crates/rootbeer-core/src/package/spec.rs
Due: fmt, clippy

feat: add archive and URL support for package primitives
  Cargo.lock
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/realize.rs
  crates/rootbeer-core/src/package/spec.rs
  crates/rootbeer-core/src/store.rs
Due: fmt, clippy

feat: support resolver -> locked package flow for multiple resolvers
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/resolve.rs
Due: fmt, clippy

feat: wire up the packaging to the plan
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/dry_run.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/plan.rs
Due: fmt, clippy

feat: wire up packaging ops to the CLI and plan
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lua/mod.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/mod.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/package/lockfile.rs
  crates/rootbeer-core/src/package/mod.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

fix: switch lockfile to map & also validate
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/package/lockfile.rs
  crates/rootbeer-core/src/package/realize.rs
  crates/rootbeer-core/src/package/resolve.rs
  crates/rootbeer-core/src/package/spec.rs
  crates/rootbeer-core/src/pipeline.rs
Due: fmt, clippy

feat: add hacky aqua registry
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/package/aqua.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/resolve.rs
  lua/rootbeer/core.lua
Due: fmt, clippy

fix(ci): rebuild skipped nightly artifacts
  .github/workflows/deploy.yml
Due: none

feat: add package resolution in the zsh module
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/lua/tests/zsh.rs
  crates/rootbeer-core/src/lua/vm.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/profile.rs
  lua/rootbeer/core.lua
  lua/rootbeer/zsh.lua
Due: fmt, clippy

chore(core): cleanup some patterns
  crates/rootbeer-core/src/package/lockfile.rs
  crates/rootbeer-core/src/package/realize.rs
  crates/rootbeer-core/src/package/spec.rs
  crates/rootbeer-core/src/store.rs
Due: fmt, clippy
