Repository tale/rootbeer: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, oxfmt

fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy --workspace -- -D warnings

oxfmt:
  run: pnpm oxfmt --write {staged_files}

fix(build): pin a rust sysroot regardless of component install order
  crates/rootbeer-build/src/environment.rs
Due: fmt, clippy

ci: notify the pdr as rootbeer bot
  .github/workflows/update-pdr.yml
  docs/contributing/packaging.md
Due: none

feat(cli): add ranked searching
  crates/rootbeer-cli/src/search.rs
Due: fmt, clippy

chore: remove tests from lefthook
  lefthook.yml
Due: none

chore: trim down docs
  docs/contributing/packaging.md
  docs/guide/package-locks.md
  docs/guide/package-sources.md
  docs/guide/packages.md
  docs/reference/secrets.md
Due: none

feat(packaging): take dependencies from their published builds
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/plan.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/repository.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/package_plan.rs
  crates/rootbeer-packaging/src/prepare.rs
  crates/rootbeer-packaging/src/publish_records.rs
  crates/rootbeer-packaging/src/published.rs
  crates/rootbeer-packaging/src/receipt.rs
  crates/rootbeer-packaging/src/release.rs
Due: fmt, clippy

feat(forge): read the planner's pdr root when building
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/repository.rs
  crates/rootbeer-packaging/src/package_plan.rs
Due: fmt, clippy

docs: describe building with published dependencies
  docs/contributing/packaging.md
Due: none

docs: point links at rootbeer-org/rootbeer
  .vitepress/config.ts
  docs/contributing/architecture.md
  docs/contributing/setup.md
  docs/contributing/testing.md
Due: oxfmt

feat(ci): publish forge binaries as oci artifacts
  .github/workflows/build.yml
  docs/contributing/setup.md
  scripts/publish-forge.py
Due: none

feat(store): name the owner of an unwritable store
  crates/rootbeer-store/src/lib.rs
Due: fmt, clippy

feat(store): move the store to /opt/rootbeer
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/tests/bootstrap.rs
  crates/rootbeer-cli/tests/local_packages.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-cli/tests/update.rs
  crates/rootbeer-store/src/layout.rs
  crates/rootbeer-store/src/lib.rs
  docs/contributing/architecture.md
  docs/guide/getting-started.md
Due: fmt, clippy

feat(install): bootstrap from a tarball into the user profile
  .github/workflows/deploy.yml
  docs/guide/getting-started.md
  docs/guide/packages.md
  scripts/install.sh
Due: none

feat(cli): install rb into the user profile on first use
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/src/update.rs
Due: fmt, clippy

fix(core): treat unreadable request caches as misses
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
Due: fmt, clippy

perf(store): hash installs once and trust sealed entries
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-store/src/lib.rs
  docs/contributing/architecture.md
Due: fmt, clippy

chore: point the dev pdr at v3
  mise.toml
Due: none

chore: optimize dependencies in debug builds
  Cargo.toml
Due: none

docs: describe uninstalling rootbeer
  docs/guide/getting-started.md
Due: none

feat(cli): show download progress
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/progress.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/ghcr.rs
Due: fmt, clippy

feat(store): insert through a setuid helper instead of owning the store
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/tests/bootstrap.rs
  crates/rootbeer-store/Cargo.toml
  crates/rootbeer-store/src/bin/rb-store.rs
  crates/rootbeer-store/src/layout.rs
  crates/rootbeer-store/src/lib.rs
  crates/rootbeer-store/src/stream.rs
  crates/rootbeer-store/tests/helper.rs
  docs/contributing/architecture.md
  scripts/install.sh
Due: fmt, clippy

feat(cli): show install progress after downloads
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/progress.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/progress.rs
Due: fmt, clippy

fix(package): explain an outdated pdr root
  crates/rootbeer-package/src/pdr.rs
  docs/guide/getting-started.md
Due: fmt, clippy

feat(store): reinstall the helper when its release or protocol is stale
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-store/src/bin/rb-store.rs
  crates/rootbeer-store/src/helper.rs
  crates/rootbeer-store/src/layout.rs
  crates/rootbeer-store/src/lib.rs
  crates/rootbeer-store/src/stream.rs
  crates/rootbeer-store/tests/helper.rs
  docs/contributing/architecture.md
Due: fmt, clippy

fix(install): reach the terminal and create the helper directory on every setup
  crates/rootbeer-cli/src/bootstrap.rs
  scripts/install.sh
Due: fmt, clippy

feat(store): move the store to /opt/rootbeer (#39)
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/progress.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/src/update.rs
  crates/rootbeer-cli/tests/bootstrap.rs
  crates/rootbeer-cli/tests/local_packages.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-cli/tests/update.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/ghcr.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/pdr.rs
  crates/rootbeer-package/src/progress.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-store/Cargo.toml
  crates/rootbeer-store/src/bin/rb-store.rs
  crates/rootbeer-store/src/helper.rs
  crates/rootbeer-store/src/layout.rs
  crates/rootbeer-store/src/lib.rs
  crates/rootbeer-store/src/stream.rs
  crates/rootbeer-store/tests/helper.rs
  docs/contributing/architecture.md
  docs/guide/getting-started.md
  docs/guide/packages.md
  mise.toml
  scripts/install.sh
Due: fmt, clippy

fix(cli): never self-install into an overridden root
  crates/rootbeer-cli/src/bootstrap.rs
Due: fmt, clippy

fix(cli): never self-install into an overridden root (#40)
  crates/rootbeer-cli/src/bootstrap.rs
Due: fmt, clippy

feat(cli): show the source commit instead of a build timestamp
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/build.rs
  crates/rootbeer-cli/src/main.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(cli): show the source commit instead of a build timestamp (#41)
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/build.rs
  crates/rootbeer-cli/src/main.rs
  docs/contributing/packaging.md
Due: fmt, clippy

fix(cli): ignore .DS_Store when migrating legacy entries
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/tests/bootstrap.rs
Due: fmt, clippy

fix(core): keep configuration roots and prune stale package links
  crates/rootbeer-core/src/executor/apply.rs
Due: fmt, clippy

feat(store): collect garbage from per-user roots
  crates/rootbeer-cli/src/gc.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-store/src/bin/rb-store.rs
  crates/rootbeer-store/src/gc.rs
  crates/rootbeer-store/src/helper.rs
  crates/rootbeer-store/src/lib.rs
  crates/rootbeer-store/tests/helper.rs
  docs/contributing/architecture.md
  docs/guide/packages.md
Due: fmt, clippy

fix(cli): migrate legacy installs quietly
  crates/rootbeer-cli/src/bootstrap.rs
  docs/contributing/architecture.md
Due: fmt, clippy

fix(package): resolve lock entries from other rootbeers again
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-package/src/lockfile.rs
Due: fmt, clippy

fix(cli): seed roots and rescan legacy stores without user action
  crates/rootbeer-cli/src/bootstrap.rs
  crates/rootbeer-cli/src/gc.rs
  crates/rootbeer-cli/tests/bootstrap.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/roots.rs
  docs/contributing/architecture.md
Due: fmt, clippy

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  oxfmt: any of: *.{js,ts}
