Repository tale/rootbeer: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, oxfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    oxfmt:
      glob: "*.{js,ts}"
      run: pnpm oxfmt --write {staged_files}

pre-push:
  commands:
    test:
      run: cargo test --workspace

feat(package): retrieve immutable artifacts from ghcr
  crates/rootbeer-core/src/package/bundle.rs
  crates/rootbeer-core/src/package/download.rs
  crates/rootbeer-core/src/package/ghcr.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/mod.rs
  docs/guide/packages.md
  lua/rootbeer/core.lua
  packages/README.md
Due: fmt, clippy

feat(package): sign complete indexes for publication
  .github/workflows/deploy.yml
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/official.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(package): move publication operations into native commands
  .github/workflows/packages.yml
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/publication.rs
  crates/rootbeer-core/src/package/realize.rs
  docs/contributing/packaging.md
  packages/README.md
  scripts/check-packages.py
Due: fmt, clippy

feat(package): select github release assets per platform
  crates/rootbeer-core/src/package/catalog.rs
  packages/README.md
  packages/age.lua
  packages/fd.lua
  packages/ripgrep.lua
Due: fmt, clippy

feat(package): support platform-specific default versions
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/index.rs
  packages/README.md
Due: fmt, clippy

feat(package): reuse verified exports across catalog changes
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/bundle.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/export/cache.rs
  crates/rootbeer-core/src/package/mod.rs
  packages/README.md
Due: fmt, clippy

feat(docs): make packaging central and add live catalog search
  .github/workflows/deploy.yml
  .vitepress/config.ts
  .vitepress/theme/PackageSearch.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  README.md
  docs/contributing/distribution.md
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  docs/guide/getting-started.md
  docs/guide/package-locks.md
  docs/guide/package-sources.md
  docs/guide/packages.md
  docs/guide/what-is-rootbeer.md
  docs/index.md
  docs/packages/index.md
  docs/reference/core.md
  lua/rootbeer/core.lua
  package.json
Due: oxfmt

fix(package): authenticate github api downloads
  crates/rootbeer-core/src/package/download.rs
Due: fmt, clippy

feat(package): import github recipes with reusable upstream rules
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/package/import.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/github.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/lua.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(package): track upstream updates with cached discovery
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/package/import.rs
  crates/rootbeer-core/src/package/download.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/metadata.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  docs/contributing/packaging.md
Due: fmt, clippy

chore(ci): upgrade actions and pin commit hashes
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/packages.yml
  .github/workflows/update-flake-lock.yml
Due: none

feat(package): unify recipes and upstream definitions
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/package/import.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/lua.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  docs/contributing/packaging.md
  packages/README.md
Due: fmt, clippy

feat(package): add compact build definitions
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/lua.rs
  docs/contributing/packaging.md
  packages/README.md
Due: fmt, clippy

refactor: simplify packaging and setup documentation
  .vitepress/config.ts
  .vitepress/nav.ts
  .vitepress/theme/PackageSearch.vue
  .vitepress/theme/catalog.ts
  README.md
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/bundle.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/export/cache.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/upstream.rs
  docs/contributing/architecture.md
  docs/contributing/package-hosting.md
  docs/formats/index.md
  docs/formats/json.md
  docs/formats/plist.md
  docs/formats/toml.md
  docs/formats/yaml.md
  docs/guide/getting-started.md
  docs/guide/package-locks.md
  docs/guide/package-sources.md
  docs/guide/packages.md
  docs/guide/what-is-rootbeer.md
  docs/index.md
  docs/modules/brew.md
  docs/modules/index.md
  docs/modules/zsh.md
  docs/packages/index.md
  docs/reference/core.md
  docs/reference/index.md
  docs/reference/secrets.md
  docs/scripts/index.md
  lua/rootbeer/core.lua
Due: fmt, clippy, oxfmt

refactor: preserve package templates during updates
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  docs/contributing/packaging.md
Due: fmt, clippy

fix: make fresh package setup work across shells
  README.md
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-core/src/lua/tests/zsh.rs
  docs/guide/getting-started.md
  docs/guide/packages.md
  docs/index.md
  docs/modules/zsh.md
  lua/rootbeer/zsh.lua
  scripts/install.sh
Due: fmt, clippy

feat(packages): add standalone commands and parallel catalog verification
  .vitepress/theme/PackageSearch.vue
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/export/cache.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/profile.rs
  crates/rootbeer-core/src/package/publication.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
  docs/contributing/packaging.md
  docs/guide/packages.md
  docs/packages/index.md
  packages/README.md
Due: fmt, clippy

feat(packages): redesign package search and clarify usage guides
  .vitepress/config.ts
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/PackageSearch.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  docs/guide/package-locks.md
  docs/guide/package-sources.md
  docs/guide/packages.md
  docs/packages/index.md
Due: oxfmt

feat(docs): redesign navigation and separate the package catalog
  .vitepress/config.ts
  .vitepress/nav.ts
  .vitepress/theme/CatalogLayout.vue
  .vitepress/theme/DocsLayout.vue
  .vitepress/theme/custom.css
  .vitepress/theme/index.ts
  docs/guide/configuration.md
  docs/guide/getting-started.md
  docs/guide/what-is-rootbeer.md
  docs/index.md
  docs/modules/index.md
  docs/packages/index.md
Due: oxfmt

fix(packages): repair shard assembly and upstream discovery
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/github.rs
  crates/rootbeer-core/src/package/publication.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/metadata.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(packages): support pinned snapshots and zig builds
  .vitepress/config.ts
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/bundle.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/github.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/publication.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  docs/guide/packages.md
Due: fmt, clippy, oxfmt

fix(packages): retry transient upstream downloads
  crates/rootbeer-core/src/package/download.rs
Due: fmt, clippy

chore(platforms): retire intel macos releases
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/packages.yml
  .vitepress/config.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-cli/src/package/import.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/upstream.rs
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  docs/guide/getting-started.md
  docs/guide/packages.md
  packages/age.lua
  packages/fd.lua
  packages/ripgrep.lua
  packages/xz.lua
  scripts/install.sh
Due: fmt, clippy, oxfmt

feat(packages): qualify recipes with bounded workers
  .github/workflows/deploy.yml
  .github/workflows/packages.yml
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-cli/src/package.rs
  crates/rootbeer-cli/src/update.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  docs/guide/getting-started.md
  docs/guide/packages.md
  scripts/install.sh
Due: fmt, clippy, oxfmt

feat(packages): manage macos application exports
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/package/applications.rs
  crates/rootbeer-core/src/package/aqua.rs
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/bundle.rs
  crates/rootbeer-core/src/package/catalog.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/github.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/intent.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/lockfile.rs
  crates/rootbeer-core/src/package/mod.rs
  crates/rootbeer-core/src/package/publication.rs
  crates/rootbeer-core/src/package/realize.rs
  crates/rootbeer-core/src/package/resolve.rs
  crates/rootbeer-core/src/package/spec.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
  crates/rootbeer-core/src/package/upstream.rs
  crates/rootbeer-core/src/package/upstream/generate.rs
  crates/rootbeer-core/src/package/upstream/updates.rs
  crates/rootbeer-core/src/pipeline.rs
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  docs/guide/packages.md
  lua/rootbeer/core.lua
Due: fmt, clippy, oxfmt

feat(packages): improve lua declaration ergonomics
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  docs/guide/package-sources.md
  docs/guide/packages.md
  docs/reference/core.md
  lua/rootbeer/core.lua
Due: fmt, clippy

feat(packages): support library dependencies and command builds
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/PackageSearch.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-core/src/package/build.rs
  crates/rootbeer-core/src/package/build/dependencies.rs
  crates/rootbeer-core/src/package/build/libraries_test.rs
  crates/rootbeer-core/src/package/catalog/recipe.rs
  crates/rootbeer-core/src/package/definition/compact.rs
  crates/rootbeer-core/src/package/export.rs
  crates/rootbeer-core/src/package/index.rs
  crates/rootbeer-core/src/package/mod.rs
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
Due: fmt, clippy, oxfmt

feat(build): pin environments and isolate package execution
  .github/workflows/build.yml
  .github/workflows/packages.yml
  crates/rootbeer-build/src/backend/autotools.rs
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/dependencies.rs
  crates/rootbeer-build/src/environment.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/libraries_test.rs
  crates/rootbeer-build/src/runner.rs
  crates/rootbeer-build/src/sandbox.rs
  crates/rootbeer-build/src/sandbox/linux.rs
  crates/rootbeer-build/src/sandbox/macos.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  docs/contributing/architecture.md
  docs/contributing/packaging.md
  docs/contributing/setup.md
Due: fmt, clippy

feat(build): audit native runtime dependencies
  Cargo.lock
  crates/rootbeer-build/Cargo.toml
  crates/rootbeer-build/src/audit/mod.rs
  crates/rootbeer-build/src/audit/parse.rs
  crates/rootbeer-build/src/audit/policy.rs
  crates/rootbeer-build/src/audit/tests.rs
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/lib.rs
  docs/contributing/architecture.md
  docs/contributing/packaging.md
Due: fmt, clippy

feat(packaging): preserve runtime dependencies through installation
  crates/rootbeer-build/src/audit/mod.rs
  crates/rootbeer-build/src/audit/policy.rs
  crates/rootbeer-build/src/backend/mod.rs
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/dependencies.rs
  crates/rootbeer-build/src/environment.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/libraries_test.rs
  crates/rootbeer-build/src/runtime_test.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/lockfile.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/aqua.rs
  crates/rootbeer-package/src/artifact.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/github.rs
  crates/rootbeer-package/src/graph.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/intent.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/lockfile.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-package/src/resolve.rs
  crates/rootbeer-package/src/runtime.rs
  crates/rootbeer-package/src/spec.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/architecture.md
  docs/contributing/packaging.md
  lua/rootbeer/core.lua
Due: fmt, clippy

ci(packages): keep package qualification in the index
  .github/workflows/build.yml
  .github/workflows/packages.yml
  docs/contributing/packaging.md
Due: none

refactor(packages): separate recipe inputs and build contracts
  AGENTS.md
  crates/rootbeer-build/src/libraries_test.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/definition.rs
  crates/rootbeer-package/src/definition/compact.rs
  crates/rootbeer-package/src/definition/recipe.rs
  crates/rootbeer-package/src/definition/recipe/render.rs
  crates/rootbeer-package/src/definition/recipe_test.rs
  crates/rootbeer-package/src/upstream.rs
  crates/rootbeer-packaging/src/upstream.rs
  crates/rootbeer-packaging/src/upstream/generate.rs
  crates/rootbeer-packaging/src/upstream/updates.rs
  docs/contributing/packaging.md
  packages/age.lua
  packages/fd.lua
  packages/ripgrep.lua
  packages/xz.lua
Due: fmt, clippy

refactor(packages): remove the embedded catalog
  .github/workflows/deploy.yml
  crates/rootbeer-build/src/audit/tests.rs
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/libraries_test.rs
  crates/rootbeer-build/src/plan.rs
  crates/rootbeer-build/src/runtime_test.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/build.rs
  crates/rootbeer-package/src/artifact.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-package/src/definition.rs
  crates/rootbeer-package/src/github.rs
  crates/rootbeer-package/src/graph.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/inputs.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/official.rs
  crates/rootbeer-package/tests/support/catalog.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/upstream.rs
  crates/rootbeer-packaging/src/upstream/generate.rs
  crates/rootbeer-packaging/src/upstream/updates.rs
  docs/contributing/distribution.md
  docs/contributing/package-hosting.md
  docs/contributing/packaging.md
  packages/README.md
  packages/age.lua
  packages/fd.lua
  packages/ripgrep.lua
  packages/xz.lua
Due: fmt, clippy

feat(packages): support source selection with prebuilt defaults
  .github/workflows/build.yml
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  Cargo.lock
  crates/rootbeer-build/src/consumer.rs
  crates/rootbeer-build/src/consumer_test.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/runner.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-package/src/definition/recipe.rs
  crates/rootbeer-package/src/definition/recipe/render.rs
  crates/rootbeer-package/src/definition/recipe_test.rs
  crates/rootbeer-package/src/graph.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/lockfile.rs
  crates/rootbeer-package/src/resolve.rs
  crates/rootbeer-package/src/source.rs
  crates/rootbeer-package/src/upstream.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/publication.rs
  crates/rootbeer-packaging/src/upstream/generate.rs
  docs/contributing/packaging.md
  docs/guide/packages.md
  lua/rootbeer/core.lua
Due: fmt, clippy, oxfmt

fix(build): prefer prebuilt dependencies in source builds
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/plan.rs
  crates/rootbeer-build/src/plan_test.rs
  docs/contributing/packaging.md
Due: fmt, clippy

fix(packages): publish and reuse our source build outputs
  crates/rootbeer-build/src/plan.rs
  crates/rootbeer-build/src/plan_test.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
Due: fmt, clippy

perf(build): reuse cached dependencies and schedule parallel exports
  Cargo.lock
  crates/rootbeer-build/Cargo.toml
  crates/rootbeer-build/build.rs
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/Cargo.toml
  crates/rootbeer-packaging/build.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/export/scheduler.rs
  crates/rootbeer-packaging/src/lib.rs
  docs/contributing/packaging.md
  scripts/cache_inputs.rs
Due: fmt, clippy

fix(build): pass dependency search paths without shell quoting
  crates/rootbeer-build/src/dependencies.rs
  crates/rootbeer-build/src/libraries_test.rs
  docs/contributing/packaging.md
Due: fmt, clippy

perf(build): separate compiler budgets from package imports
  Cargo.lock
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/scheduler.rs
  crates/rootbeer-package/Cargo.toml
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-packaging/src/export.rs
  docs/contributing/architecture.md
Due: fmt, clippy
