Repository tale/rootbeer: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, oxfmt

fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy --workspace -- -D warnings

oxfmt:
  run: pnpm oxfmt --write {staged_files}

feat(build): add a locked cargo backend for rust packages
  crates/rootbeer-build/src/backend/autotools.rs
  crates/rootbeer-build/src/backend/custom.rs
  crates/rootbeer-build/src/backend/mod.rs
  crates/rootbeer-build/src/backend/rust.rs
  crates/rootbeer-build/src/backend/zig.rs
  crates/rootbeer-build/src/environment.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/definition/recipe.rs
  crates/rootbeer-package/src/definition/recipe/render.rs
  crates/rootbeer-package/src/definition/recipe_test.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/lib.rs
  docs/contributing/architecture.md
Due: fmt, clippy

fix(cli): update rootbeer through its installation owner
  AGENTS.md
  Cargo.lock
  crates/rootbeer-cli/Cargo.toml
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/update.rs
  crates/rootbeer-cli/tests/update.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/package/standalone/tests.rs
  docs/guide/getting-started.md
  docs/guide/package-locks.md
Due: fmt, clippy

docs: tighten up package listings
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/PackageSearch.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  docs/packages/index.md
Due: oxfmt

chore: update to rust 1.98.1
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  docs/contributing/setup.md
  mise.toml
  rust-toolchain.toml
Due: none

chore: upgrade to pnpm v12
  .vitepress/config.ts
  .vitepress/theme/catalog.test.ts
  docs/contributing/setup.md
  mise.toml
  package.json
  pnpm-lock.yaml
  scripts/lua2md.ts
Due: oxfmt

feat: add support for rage/age encryption
  Cargo.lock
  crates/rootbeer-core/Cargo.toml
  crates/rootbeer-core/src/age.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/secret.rs
  crates/rootbeer-core/src/lua/tests/secret.rs
  crates/rootbeer-core/src/plan.rs
  docs/reference/secrets.md
  lua/rootbeer/secret.lua
Due: fmt, clippy

feat(runtime): manage provider tools and reuse package caches
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-core/src/age.rs
  crates/rootbeer-core/src/executor/apply.rs
  crates/rootbeer-core/src/executor/mod.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/lua/secret.rs
  crates/rootbeer-core/src/lua/test_support.rs
  crates/rootbeer-core/src/lua/tests/profile.rs
  crates/rootbeer-core/src/one_password.rs
  crates/rootbeer-core/src/package/applications.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/profile.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-core/src/tools.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/official.rs
  crates/rootbeer-package/src/realize.rs
  docs/contributing/architecture.md
  docs/guide/package-locks.md
  docs/reference/secrets.md
  lua/rootbeer/secret.lua
  mise.toml
  scripts/bin/rb
Due: fmt, clippy

fix(apply): separate lock reconciliation from package updates
  crates/rootbeer-cli/src/apply.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/progress.rs
  crates/rootbeer-cli/src/update.rs
  crates/rootbeer-core/src/lib.rs
  crates/rootbeer-core/src/package/applications.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/lockfile.rs
  crates/rootbeer-package/src/official.rs
  docs/contributing/package-hosting.md
  docs/guide/getting-started.md
  docs/guide/package-locks.md
  docs/guide/packages.md
Due: fmt, clippy

feat(ci): notify the index after successful rootbeer checks
  .github/workflows/update-index.yml
  docs/contributing/packaging.md
Due: none

feat(ci): push index update requests with a scoped deploy key
  .github/workflows/update-index.yml
  docs/contributing/packaging.md
Due: none

feat(packages): support local recipe catalogs
  crates/rootbeer-build/src/consumer.rs
  crates/rootbeer-build/src/consumer_test.rs
  crates/rootbeer-cli/tests/local_packages.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-core/src/lua/tests/package.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-package/src/inputs.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/source.rs
  docs/guide/package-sources.md
  lua/rootbeer/core.lua
Due: fmt, clippy

feat(packaging): verify bundles against explicit catalogs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
  plans/packaging-architecture.md
Due: fmt, clippy

feat(packaging): reuse source qualification records
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
  plans/packaging-architecture.md
Due: fmt, clippy

docs(ci): record actions checkpoint handoff
  plans/packaging-architecture.md
Due: none

feat(packaging): retain portable qualification evidence
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
Due: fmt, clippy

docs(ci): record durable candidate validation
  plans/packaging-architecture.md
Due: none

feat(packaging): scope backend identities and platform imports
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/build.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
  scripts/cache_inputs.rs
Due: fmt, clippy

docs(ci): record scoped reuse and transfer validation
  plans/packaging-architecture.md
Due: none

docs(packaging): remove internal architecture plan
  plans/packaging-architecture.md
Due: none

refactor(packaging): share artifact content validation
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/publication.rs
Due: fmt, clippy

feat(packaging): reuse verified artifacts across CI and publication (#27)
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/build.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publication.rs
  docs/contributing/packaging.md
  scripts/cache_inputs.rs
Due: fmt, clippy

feat(ci): distribute attested forge binaries
  .github/workflows/build.yml
  docs/contributing/setup.md
Due: none

docs(packaging): describe prebuilt engine setup
  docs/contributing/packaging.md
Due: none

fix(packaging): bound execution and preserve completed work
  .github/workflows/build.yml
  Cargo.lock
  crates/rootbeer-build/Cargo.toml
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/runner.rs
  crates/rootbeer-build/src/scheduler.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-forge/Cargo.toml
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/execution.rs
  crates/rootbeer-package/src/ghcr.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-packaging/Cargo.toml
  crates/rootbeer-packaging/src/export.rs
  docs/contributing/packaging.md
  scripts/cache_inputs.rs
  scripts/publish-forge.py
Due: fmt, clippy

fix(packaging): bound exports and distribute verified forge binaries (#28)
  .github/workflows/build.yml
  Cargo.lock
  crates/rootbeer-build/Cargo.toml
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-build/src/runner.rs
  crates/rootbeer-build/src/scheduler.rs
  crates/rootbeer-build/src/tests.rs
  crates/rootbeer-forge/Cargo.toml
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/download.rs
  crates/rootbeer-package/src/execution.rs
  crates/rootbeer-package/src/ghcr.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-packaging/Cargo.toml
  crates/rootbeer-packaging/src/export.rs
  docs/contributing/packaging.md
  docs/contributing/setup.md
  scripts/cache_inputs.rs
  scripts/publish-forge.py
Due: fmt, clippy

feat(build): add verified go source builds
  .github/workflows/build.yml
  crates/rootbeer-build/src/backend/go.rs
  crates/rootbeer-build/src/backend/mod.rs
  crates/rootbeer-build/src/environment.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-package/src/definition/recipe.rs
  crates/rootbeer-package/src/definition/recipe/render.rs
  crates/rootbeer-package/src/definition/recipe_test.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/upstream/generate.rs
  docs/contributing/packaging.md
  scripts/cache-compatibility
  scripts/cache_inputs.rs
Due: fmt, clippy

perf(ci): share go compilation and retain package batches
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  scripts/cache-compatibility
  scripts/cache_inputs.rs
Due: fmt, clippy

perf(ci): share go compilation and retain package batches (#29)
  crates/rootbeer-build/src/cache.rs
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/export/cache.rs
  crates/rootbeer-packaging/src/lib.rs
  scripts/cache-compatibility
  scripts/cache_inputs.rs
Due: fmt, clippy

chore: use the new rbpkg.com domain
  .github/workflows/deploy.yml
  .vitepress/theme/PackageDetails.vue
  README.md
  crates/rootbeer-cli/src/init.rs
  docs/contributing/package-hosting.md
  docs/guide/getting-started.md
  scripts/install.sh
Due: fmt, clippy

chore: update to pdr.rbpkg.com
  .vitepress/config.ts
  docs/contributing/package-hosting.md
  mise.toml
Due: oxfmt

feat(package): verify independently signed package records
  crates/rootbeer-package/Cargo.toml
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/sign.rs
Due: fmt, clippy

feat(forge): release and push individual source packages
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/release.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(cli): install independently signed package records
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-package/src/distribution.rs
  docs/guide/packages.md
Due: fmt, clippy

feat(forge): plan and reuse signed package results
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/package_plan.rs
  crates/rootbeer-packaging/src/release.rs
  docs/contributing/packaging.md
Due: fmt, clippy

feat(package): release and reuse independently signed packages (#30)
  crates/rootbeer-build/src/lib.rs
  crates/rootbeer-cli/src/run.rs
  crates/rootbeer-cli/tests/run.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/Cargo.toml
  crates/rootbeer-package/src/build_spec.rs
  crates/rootbeer-package/src/catalog/recipe.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-packaging/src/bundle.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/package_plan.rs
  crates/rootbeer-packaging/src/release.rs
  crates/rootbeer-packaging/src/sign.rs
  docs/contributing/packaging.md
  docs/guide/packages.md
Due: fmt, clippy

feat(packaging): qualify upstream binaries as independent packages
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-packaging/src/checks.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/package_plan.rs
  crates/rootbeer-packaging/src/prepare.rs
  crates/rootbeer-packaging/src/release.rs
Due: fmt, clippy

feat(packaging): qualify upstream binaries as independent packages (#31)
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-packaging/src/checks.rs
  crates/rootbeer-packaging/src/export.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/package_plan.rs
  crates/rootbeer-packaging/src/prepare.rs
  crates/rootbeer-packaging/src/release.rs
Due: fmt, clippy

feat(packages): publish independent records through shared discovery
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-build/src/consumer.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/search.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/discovery.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-package/src/inputs.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/official.rs
  crates/rootbeer-package/src/resolve.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publish_records.rs
  crates/rootbeer-packaging/src/sign.rs
  docs/contributing/package-hosting.md
Due: fmt, clippy, oxfmt

feat(packages): publish independent records through shared discovery (#32)
  .vitepress/theme/PackageDetails.vue
  .vitepress/theme/catalog.test.ts
  .vitepress/theme/catalog.ts
  crates/rootbeer-build/src/consumer.rs
  crates/rootbeer-cli/src/main.rs
  crates/rootbeer-cli/src/search.rs
  crates/rootbeer-core/src/package/lock.rs
  crates/rootbeer-core/src/package/standalone.rs
  crates/rootbeer-core/src/pipeline.rs
  crates/rootbeer-forge/src/command.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/discovery.rs
  crates/rootbeer-package/src/distribution.rs
  crates/rootbeer-package/src/inputs.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/official.rs
  crates/rootbeer-package/src/resolve.rs
  crates/rootbeer-packaging/src/lib.rs
  crates/rootbeer-packaging/src/publish_records.rs
  crates/rootbeer-packaging/src/sign.rs
  docs/contributing/package-hosting.md
Due: fmt, clippy, oxfmt

feat(package): support macos dmg app bundles
  crates/rootbeer-build/src/archive.rs
  crates/rootbeer-core/src/lua/package.rs
  crates/rootbeer-package/src/catalog.rs
  crates/rootbeer-package/src/dmg.rs
  crates/rootbeer-package/src/github.rs
  crates/rootbeer-package/src/index.rs
  crates/rootbeer-package/src/lib.rs
  crates/rootbeer-package/src/realize.rs
  crates/rootbeer-package/src/spec.rs
  crates/rootbeer-packaging/src/prepare.rs
  docs/contributing/packaging.md
  lua/rootbeer/core.lua
Due: fmt, clippy

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  oxfmt: any of: *.{js,ts}
